body{
    background-color: antiquewhite;
}
h2{
    font-style: normal;
    padding-top: 100px;
    text-align: center;
}
.box{
    text-align: center;
}
.user{
    padding-top: 30px;
    padding-right: 80px;
}
.pass{
    padding-right: 80px;
}
